@import url('https://fonts.googleapis.com/css?family=Passion+One');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


.titulote{
background-color: blue;
height: 15rem;
}
.letratitulote{
    color: aliceblue;
    font-size: 4rem;
  
    font-family: 'Playfair Display', serif;
}

//**seccion Equipo de Trabajo**//
.espacioTituloPS{
    height: 15rem;
}
.tituloEquipequño{
    color: rgb(70, 182, 247);
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;

}
.tituloEquipo{
    color: rgb(70, 182, 247);
    font-size: 3rem;
    font-family: 'Playfair Display', serif;

}

//**termina seccion Equipo de Trabajo**//
//**Empieza integrantes Equipo de Trabajo**//
.espacionombres{

    height: 10rem;
}
.nombre{
    color: rgb(70, 182, 247);
    font-size: 2rem;
    font-family: 'Playfair Display', serif;

}
.nomPosicion{
    color: rgb(70, 182, 247);
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;

}
.estiloCirculos{
    height:15rem;
   width: 15rem;
   border-radius:20rem; 

}
.espacioSecEquip{
height: 30rem;

}

//**Termina integrantes Equipo de Trabajo**//

//**parte acerca de nosotros**//
.tituloacerca{
    color: rgb(70, 182, 247);
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
}
.margenAcecaNos{
    margin: 4rem 1rem 4rem 1rem; 
}

.comienzo{
    color: rgb(70, 182, 247);
    font-size: 1.3rem;
    font-family: 'Playfair Display', serif;  
}