<div class="container-fluid">
<div class="row justify-center">
<div class="col-md-12 titulote  d-flex align-items-center">
<div class="letratitulote d-flex align-items-center">Sobre Nosotros</div> 
</div>
</div>
</div>
<!--temina barra titulo-->
<!-- Seccion quienes Somos-->
<div class="container-fluid margenAcecaNos">
    <div class="row justify-center espacioTituloPS">
    <div class="col-md-12   d-flex align-items-center justify-content-center ">
<div class=" tituloEquipo d-flex align-items-center justify-content-center align-items-center pt-3">Quienes Somos</div> 
    </div>
    <div class="col-md-12 tituloEquipequño  d-flex justify-content-center align-items-center pt-5 ">
    Somos una institucion sin fines de lucro, la cual se motiva día con día
                </div>
                <div class="col-md-12 tituloEquipequño justify-content-center  d-flex align-items-center pb-5">
        por las personas que necesitan de una o de otra forma el apoyo de todos.
                             </div>
    </div>
<div class="container-fluid margenAcecaNos">
<div class="row justify-center ">

    <div class="col-md-6 align-items-center">
        <div class="row d-flex justify-content-center align-items-center">
<div class="col-md-12 d-flex  align-items-center mt-5 tituloacerca">
Acerca de nosotros
</div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
<div class="col-md-12  d-flex justify-content-center align-items-center comienzo">
Comenzamos el proyecto de donacion de diferntas tipos de productos yaa sea para consumo como para uso
y preparacion, con el fin de que este sea
</div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
<div class="col-md-12 d-flex justify-content-center align-items-center comienzo">
  transparente para el donante y el proceso tenga un seguimiento sertero de confianza, para el uso publico, 
  ya que si el donante gusta realizarlo de manera privada tambien sea posible.
</div>
        </div>
    </div>

    <div class="col-md-6">
        <img  class="d-flex justify-content-center align-items-center  " src="../../assets/imagenes/acercadenos.jpg" alt="">
    </div>

</div>
</div>


<!--Termina  Seccion quienes somos-->
<!-- Seccion trabajo en equipo-->

<div class="container-fluid"> 
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="col-md-12">
          <div class="bienv d-flex justify-content-center ">La union</div>
          <div class="bienv2  d-flex justify-content-center "> hace la fuerza</div>
          <div class="bienv3  d-flex justify-content-center ">y la diferncia</div>

          <img class=" ImgPrincipal d-flex justify-content-center" src="../../assets/imagenes/EquipoD.jpg">
        </div>
      </div>
    </div>
    </div>

<!--Termina Seccion trabajo en equipo-->
<!--Primera Seccion-->
<div class="container-fluid">
    <div class="row justify-center espacioTituloPS">
    <div class="col-md-12   d-flex align-items-center justify-content-center ">
<div class=" tituloEquipo d-flex align-items-center justify-content-center align-items-center pt-3">Equipo de Apoyo</div> 
    </div>
    <div class="col-md-12 tituloEquipequño  d-flex justify-content-center align-items-center pt-5 ">
           Por que el compromiso y la motivacion simpre estan presentes
                </div>
                <div class="col-md-12 tituloEquipequño justify-content-center  d-flex align-items-center pb-5">
                         y la motivacion simpre estan presentes
                             </div>
    </div>

<!--Termina Primera Seccion-->
<!-- Seccion equipo de trabajo-->
<div class="container-fluid mt-5">
    <div class="row espacioSecEquip  ">
        <div class="col-md-3">

            <div class="col-md-12" >
        <img  class="d-flex justify-content-center align-items-center estiloCirculos " src="../../assets/imagenes/persona1.png" alt="">
    </div>
        
        <div class="row espacionombres  justify-content" >
           
          
        <div class="col-md-12 d-flex justify-content-center   align-items-center  ">
            <div class="d-flex justify-content-center   align-items-center nombre pt-3"> Sofia Tepia </div>
        </div>
   
   
   
        <div class=" col-md-12 d-flex justify-content-center   align-items-center" >
                <div class="d-flex justify-content-center   align-items-center nomPosicion pb-5 ">  Diseño Web </div>
        </div>
      

    </div>
    </div>
        <div class="col-md-3">

                <div class="col-md-12" >
                        <img  class="d-flex justify-content-center align-items-center estiloCirculos " src="../../assets/imagenes/equip3.jpg" alt="">
                    </div>
                        
                        <div class="row espacionombres  justify-content" >
                           
                          
                        <div class="col-md-12 d-flex justify-content-center   align-items-center  ">
                            <div class="d-flex justify-content-center   align-items-center nombre pt-3"> Armando Manzanero </div>
                        </div>
                   
                   
                   
                        <div class=" col-md-12 d-flex justify-content-center   align-items-center" >
                                <div class="d-flex justify-content-center   align-items-center nomPosicion pb-5 ">  Promotor del equipo </div>
                        </div>
                      
                
                    </div>
        </div>
        <div class="col-md-3">

                <div class="col-md-12" >
                        <img  class="d-flex justify-content-center align-items-center estiloCirculos " src="../../assets/imagenes/persona4.jpg" alt="">
                    </div>
                        
                        <div class="row espacionombres  justify-content" >
                           
                          
                        <div class="col-md-12 d-flex justify-content-center   align-items-center  ">
                            <div class="d-flex justify-content-center   align-items-center nombre pt-3"> Salomon Currri </div>
                        </div>
                   
                   
                   
                        <div class=" col-md-12 d-flex justify-content-center   align-items-center" >
                                <div class="d-flex justify-content-center   align-items-center nomPosicion pb-5 ">  Contador </div>
                        </div>
                      
                
                    </div>
        </div>   
        <div class="col-md-3">

                <div class="col-md-12" >
                        <img  class="d-flex justify-content-center align-items-center estiloCirculos " src="../../assets/imagenes/equip2.jpg" alt="">
                    </div>
                        
                        <div class="row espacionombres  justify-content" >
                           
                          
                        <div class="col-md-12 d-flex justify-content-center   align-items-center  ">
                            <div class="d-flex justify-content-center   align-items-center nombre pt-3"> Esther Salgado </div>
                        </div>
                   
                   
                   
                        <div class=" col-md-12 d-flex justify-content-center   align-items-center" >
                                <div class="d-flex justify-content-center   align-items-center nomPosicion pb-5 ">  Organizadora </div>
                        </div>
                      
                
                    </div>
         </div>
</div>
    </div>
<!-- Termina Seccion equipo de trabajo-->