<div class="container-fluid">
<div class="row justify-center">
<div class="col-md-12 titulote  d-flex align-items-center">
<div class="letratitulote d-flex align-items-center">Sobre Nosotros</div> 
</div>
</div>
</div>
<!--temina barra titulo-->
<!--Primera Seccion-->
<div class="container-fluid">
    <div class="row justify-center espacioTituloPS">
    <div class="col-md-12   d-flex align-items-center justify-content-center ">
<div class=" tituloEquipo d-flex align-items-center justify-content-center align-items-center pt-3">Equipo de Apoyo</div> 
    </div>
    <div class="col-md-12 tituloEquipequño  d-flex justify-content-center align-items-center pt-5 ">
           Por que el compromiso y la motivacion simpre estan presentes
                </div>
                <div class="col-md-12 tituloEquipequño justify-content-center  d-flex align-items-center pb-5">
                         y la motivacion simpre estan presentes
                             </div>
    </div>

<!--Termina Primera Seccion-->
<!-- Seccion equipo de trabajo-->
<div class="container-fluid mt-5">
    <div class="row espacioSecEquip  ">
        <div class="col-md-3">

            <div class="col-md-12" >
        <img  class="d-flex justify-content-center align-items-center estiloCirculos " src="../../assets/imagenes/persona1.png" alt="">
    </div>
        
        <div class="row espacionombres  justify-content" >
           
          
        <div class="col-md-12 d-flex justify-content-center   align-items-center  ">
            <div class="d-flex justify-content-center   align-items-center nombre pt-3"> Sofia Tepia </div>
        </div>
   
   
   
        <div class=" col-md-12 d-flex justify-content-center   align-items-center" >
                <div class="d-flex justify-content-center   align-items-center nomPosicion pb-5 ">  Diseño Web </div>
        </div>
      

    </div>
    </div>
        <div class="col-md-3">

                <div class="col-md-12" >
                        <img  class="d-flex justify-content-center align-items-center estiloCirculos " src="../../assets/imagenes/equip3.jpg" alt="">
                    </div>
                        
                        <div class="row espacionombres  justify-content" >
                           
                          
                        <div class="col-md-12 d-flex justify-content-center   align-items-center  ">
                            <div class="d-flex justify-content-center   align-items-center nombre pt-3"> Armando Manzanero </div>
                        </div>
                   
                   
                   
                        <div class=" col-md-12 d-flex justify-content-center   align-items-center" >
                                <div class="d-flex justify-content-center   align-items-center nomPosicion pb-5 ">  Promotor del equipo </div>
                        </div>
                      
                
                    </div>
        </div>
        <div class="col-md-3">

                <div class="col-md-12" >
                        <img  class="d-flex justify-content-center align-items-center estiloCirculos " src="../../assets/imagenes/persona4.jpg" alt="">
                    </div>
                        
                        <div class="row espacionombres  justify-content" >
                           
                          
                        <div class="col-md-12 d-flex justify-content-center   align-items-center  ">
                            <div class="d-flex justify-content-center   align-items-center nombre pt-3"> Salomon Currri </div>
                        </div>
                   
                   
                   
                        <div class=" col-md-12 d-flex justify-content-center   align-items-center" >
                                <div class="d-flex justify-content-center   align-items-center nomPosicion pb-5 ">  Contador </div>
                        </div>
                      
                
                    </div>
        </div>   
        <div class="col-md-3">

                <div class="col-md-12" >
                        <img  class="d-flex justify-content-center align-items-center estiloCirculos " src="../../assets/imagenes/equip2.jpg" alt="">
                    </div>
                        
                        <div class="row espacionombres  justify-content" >
                           
                          
                        <div class="col-md-12 d-flex justify-content-center   align-items-center  ">
                            <div class="d-flex justify-content-center   align-items-center nombre pt-3"> Esther Salgado </div>
                        </div>
                   
                   
                   
                        <div class=" col-md-12 d-flex justify-content-center   align-items-center" >
                                <div class="d-flex justify-content-center   align-items-center nomPosicion pb-5 ">  Organizadora </div>
                        </div>
                      
                
                    </div>
         </div>
</div>
    </div>
<!-- Termina Seccion equipo de trabajo-->