<div class="container-fluid">
    <div class="row justify-center">
    <div class="col-12 col-md-12 col-lg-12 titulote  d-flex align-items-center">
    <div class="letratitulote d-flex align-items-center tituloacerca1 tituloacerca2">Sobre Nosotros</div> 
    </div>
    </div>
    </div>
    <!--temina barra titulo-->
    <!-- Seccion quienes Somos-->
    <div class="container-fluid margenAcecaNos">
        <div class="row d-flex justify-content-center espacioTituloPS">
        <div class="col-12 col-md-12   d-flex align-items-center justify-content-center ">
    <div class=" tituloEquipo d-flex align-items-center justify-content-center align-items-center pt-3 tituloacerca1 tituloacerca2">¿Quiénes Somos?</div> 
        </div>
        <div class="col-12 col-md-12 col-lg-12 tituloEquipequño tituloEquipequño1 tituloEquipequño2 tituloEquipequño3
        tituloEquipequño4  d-flex justify-content-center align-items-center pt-5 ">
        Somos una institución sin fines de lucro, la cual se motiva día con día
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 tituloEquipequño tituloEquipequño1 tituloEquipequño2 tituloEquipequño3
                    tituloEquipequño4  justify-content-center  d-flex align-items-center pb-5">
            por las personas que necesitan de una o de otra forma el apoyo de todos.
                                 </div>
        </div>
    <div class="container-fluid margenAcecaNos">
    <div class="row justify-center ">
    
        <div class="col-12 col-md-5 col-lg-5 align-items-center">
            <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-12 col-lg-12 d-flex  align-items-center mt-5 tituloacerca tituloacerca1 tituloacerca2">
    Acerca de nosotros
    </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center align-items-center comienzo comienzo1 comienzo2 comienzo3 comienzo4">
    Comenzamos el proyecto de donación de diferentes tipos de productos ya sea para consumo como para uso
    y preparación, con el fin de que este sea consumo como para uso
    </div>
    <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center align-items-center comienzo comienzo1 comienzo2 comienzo3 comienzo4">
            
            y preparacion, con el fin de que este sea transparente para el donante y el proceso tenga un seguimiento
            </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center align-items-center comienzo comienzo1 comienzo2 comienzo3 comienzo4">
      sertero de confianza, para el uso publico, 
      ya que si el donante gusta realizarlo de manera privada tambien sea posible.
    </div>
            </div>
        </div>
    <div class="col-md-1"></div>
        <div class="col-12 col-md-5 col-lg-5 d-flex justify-content-center align-items-center">
                <a href=""><picture >
                        <source  srcset="../../assets/imagenes/acercadenos2.jpg" media="(max-width:700px)">
                            <source  srcset="../../assets/imagenes/acercadenos1.jpg" media="(min-width:701px) and (max-width:1024px)">
                        <source srcset="../../assets/imagenes/acercadenos.jpg">
                          <img class="d-flex justify-content-center align-items-center limiteImagen" src="../../assets/imagenes/acercadenos.jpg">
                    </picture></a>
        </div>
    
    </div>
    </div>
    
    
    <!--Termina  Seccion quienes somos-->
    <!-- Seccion trabajo en equipo-->
    
    <div class="container-fluid"> 
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-12 col-lg-12col-md-12 d-flex justify-content-center">
            <div class="col-12 col-md-12 col-lg-12">
              <div class="bienv d-flex justify-content-center animated magic3 bienv1">La union</div>
              <div class="bienv2  d-flex justify-content-center animated magic3 bienv21 "> hace la fuerza</div>
              <div class="bienv3  d-flex justify-content-center animated magic3 bienv31">y la diferencia</div>
              <a href=""><picture >
                <source  srcset="../../assets/imagenes/EquipoD4.jpg" media="(max-width:500px)">
                    <source  srcset="../../assets/imagenes/EquipoD3.jpg" media="(min-width:501px) and (max-width:700px)">
                        <source  srcset="../../assets/imagenes/EquipoD2.jpg" media="(min-width:701px) and (max-width:1024px)">
                            <source  srcset="../../assets/imagenes/EquipoD1.jpg" media="(min-width:1025px) and (max-width:1300px)">
                <source srcset="../../assets/imagenes/EquipoD.jpg">
                  <img class=" ImgPrincipal d-flex justify-content-center" src="../../assets/imagenes/EquipoD.jpg">
            </picture></a>
              <img  src="">
            </div>
          </div>
        </div>
        </div>
    
    <!--Termina Seccion trabajo en equipo-->
    <!--Primera Seccion-->
    <div class="container-fluid">
        <div class="row justify-center espacioTituloPS">
        <div class="col-12 col-md-12 col-lg-12  d-flex align-items-center justify-content-center ">
    <div class=" tituloEquipo d-flex align-items-center justify-content-center align-items-center tituloacerca1 tituloacerca2 pt-3">Equipo de Apoyo</div> 
        </div>
        <div class="col-12 col-md-12 col-lg-12 tituloEquipequño  d-flex justify-content-center align-items-center pt-5 ">
               Por que el compromiso y la motivacion simpre estan presentes
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 tituloEquipequño justify-content-center  d-flex align-items-center pb-5">
                             y la motivacion simpre estan presentes
                                 </div>
        </div>
    
    <!--Termina Primera Seccion-->
    <!-- Seccion equipo de trabajo-->
    <div class="container-fluid mt-5">
        <div class="row espacioSecEquip  ">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="row   justify-content" >
    <div class="col-2 col-md-2 col-lg-2"></div>
                <div class="col-10 col-md-10 col-lg-10 " >
            <img  class="d-flex justify-content-center align-items-center estiloCirculos circulosahora " src="../../assets/imagenes/persona1.png" alt="">
        </div>
        </div>
            
            <div class="row espacionombres  d-flex justify-content-center" >
               
              
            <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center   align-items-center  ">
                <div class="d-flex justify-content-center   align-items-center nombre nombre1"> Sofia Tepia </div>
            </div>
       
       
       
            <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center   align-items-center" >
                    <div class="d-flex justify-content-center   align-items-center nomPosicion nomPosicion1  ">  Diseño Web </div>
            </div>
          
    
        </div>
        </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="row   justify-content" >
                            <div class="col-2 col-md-2 col-lg-2"></div>
                                <div class="col-10 col-md-10 col-lg-10" >
                                        <img  class="d-flex justify-content-center align-items-center estiloCirculos circulosahora " src="../../assets/imagenes/persona4.jpg" alt="">
                                    </div>
                                </div>
                                        <div class="row espacionombres  d-flex justify-content-center" >
                                           
                                          
                                        <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center   align-items-center  ">
                                                <div class="row   justify-content" >
                                                       
                                                       
                                            <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center   align-items-center nombre nombre1 "> Armando Manzanero </div>
                               
                                   
                                   
                                   
                                        <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center   align-items-center" >
                                                <div class="d-flex justify-content-center   align-items-center nomPosicion nomPosicion1 ">  Promotor </div>
                                        </div>
                                    
                                </div> 
                            </div>
                                    </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="row   justify-content" >
                <div class="col-2 col-md-2 col-lg-2"></div>
                    <div class="col-10 col-md-10 col-lg-10" >
                            <img  class="d-flex justify-content-center align-items-center estiloCirculos circulosahora " src="../../assets/imagenes/persona4.jpg" alt="">
                        </div>
                    </div>
                            <div class="row espacionombres  d-flex justify-content-center" >
                               
                              
                            <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center   align-items-center  ">
                                    <div class="row   justify-content" >
                                           
                                           
                                <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center   align-items-center nombre nombre1 "> Salomon Currri </div>
                   
                       
                       
                       
                            <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center   align-items-center" >
                                    <div class="d-flex justify-content-center   align-items-center nomPosicion nomPosicion1 ">  Contador </div>
                            </div>
                        
                    </div> 
                </div>
                        </div>
                    
                        </div>
              
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="row   d-flex justify-content-center" >
                <div class="col-2 col-md-2 col-lg-2"></div>
                    <div class="col-10 col-md-10 col-lg-10" >
                            <img  class="d-flex justify-content-center align-items-center estiloCirculos circulosahora " src="../../assets/imagenes/equip2.jpg" alt="">
                        </div>
                    </div>   
                            <div class="row espacionombres  d-flex justify-content-center" >
                               
                              
                            <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center   align-items-center  ">
                                <div class="d-flex justify-content-center   align-items-center nombre nombre1 "> Esther Salgado </div>
                            </div>
                       
                       
                       
                            <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center   align-items-center" >
                                    <div class="d-flex justify-content-center   align-items-center nomPosicion  nomPosicion1">  Organizadora </div>
                            </div>
                          
                    
                        </div>
             </div>
    </div>
        </div>
    <!-- Termina Seccion equipo de trabajo-->