
<div class="container">
<form class="fondo">
    
    <div class="form-group col-12 col-md-6 col-lg-6">
        <label for="inputAddress2" class="txt">Nombre</label>
        <input type="text" class="form-control" id="inputNombre" placeholder="Nombres">
      </div>
  
  
  <div class="form-group col-12 col-md-6 col-lg-6">
        <label for="inputEmail4" class="txt">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
     
   
    <div class="form-group col-12 col-md-6 col-lg-6">
      <label for="inputAddress" class="txt">Direccion</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Santa Tere">
    </div>
  
    <div class="form-row">
      <div class="form-group col-12 col-md-6 col-lg-6">
        <label for="inputCity" class="txt">Ciudad</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group  col-12 col-md-6 col-lg-6">
        <label for="inputState" class="txt">Estado</label>
        <select id="inputState" class="form-control">
          <option selected class="txt">Elige...</option>
          <option class="txt">Zacatecas</option>
          <option class="txt">Aguascalientes</option>
          <option class="txt">Baja California</option>
          <option class="txt">	Baja California Sur</option>
          <option class="txt">Campeche</option>
          <option class="txt">Coahuila de Zaragoza</option>
          <option class="txt">Colima</option>
          <option class="txt">Chiapas</option>
          <option class="txt">Chihuahua</option>
          <option class="txt">Distrito Federal</option>
          <option class="txt">Durango</option>
          <option class="txt">Guanajuato</option>
          <option class="txt">Guerrero</option>
          <option class="txt">Hidalgo</option>
          <option class="txt">Jalisco</option>
          <option class="txt">México</option>
          <option class="txt">Michoacán de Ocampo</option>
          <option class="txt">Morelos</option>
          <option class="txt">Nayarit</option>
          <option class="txt">Nuevo León</option>
          <option class="txt">Oaxaca</option>
          <option class="txt">Puebla</option>
          <option class="txt">Querétaro</option>
          <option class="txt">Quintana Roo</option>
          <option class="txt">San Luis Potosí</option>
          <option class="txt">Sinaloa</option>
          <option class="txt">Sonora</option>
          <option class="txt">Tabasco</option>
          <option class="txt">Tamaulipas</option>
          <option class="txt">Tlaxcala</option>
          <option class="txt">Veracruz de Ignacio de la Llave</option>
          <option class="txt">Yucatán</option>
        </select>
      </div>
     
    </div>
    
      <div class="row justify-content"> 
          <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center">
    <button type="submit" class="btn btn-primary ">Enviar</button>
  </div>
  </div>
  </form>
</div>