
<div class="container">

<form class="fondo" >
    
    <div class="form-group col-12 col-md-6 col-lg-6">
        <label for="nombre" class="txt">Nombre</label>
        <input  type="text" class="form-control" type="text" [(ngModel)]="nombre" name=nombre placeholder="nombre.." >
      </div>
  
  
  <div class="form-group col-12 col-md-6 col-lg-6">
        <label for="telefono" class="txt">Telefono</label>
        <input  type="text" class="form-control" [(ngModel)]="telefono" name=telefono placeholder="telefono..">
      </div>
     
   
    <div class="form-group col-12 col-md-6 col-lg-6">
      <label for="inputAddress" class="txt">Direccion</label>
      <input type="text" class="form-control"[(ngModel)]="direccion" name=direccion placeholder="direccion..">
    </div>
    <div class="form-group col-12 col-md-6 col-lg-6">
        <label for="Email" class="txt">Correo Electronico</label>
        <input type="text" class="form-control" [(ngModel)]="email" name=email placeholder="correo electronico">
      </div>
  
    <div class="form-row">
       
      <div class="form-group col-12 col-md-6 col-lg-6">
        <label for="inputCity" class="txt">Ciudad</label>
        <input type="text" class="form-control" [(ngModel)]="ciudad" name=ciudad placeholder="ciudad..">
      </div>
      <div class="form-group  col-12 col-md-6 col-lg-6">
        <label for="inputAddress" class="txt">Estado</label>
        <select  class="form-control"  [(ngModel)]="estado" name=estado >
          <option selected class="txt">Elige...</option>
         <option >Zacatecas</option>
          <option >Aguascalientes</option>
          <option >Baja California</option>
          <option >	Baja California Sur</option>
          <option >Campeche</option>
          <option >Coahuila de Zaragoza</option>
          <option>Colima</option>
          <option >Chiapas</option>
         <option >Chihuahua</option>
          <option >Distrito Federal</option>
          <option>Durango</option>
          <option >Guanajuato</option>
          <option >Guerrero</option>
          <option >Hidalgo</option>
          <option >Jalisco</option>
          <option >México</option>
          <option >Michoacán de Ocampo</option>
          <option >Morelos</option>
          <option >Nayarit</option>
          <option >Nuevo León</option>
          <option>Oaxaca</option>
          <option >Puebla</option>
          <option >Querétaro</option>
          <option >Quintana Roo</option>
          <option >San Luis Potosí</option>
          <option >Sinaloa</option>
          <option >Sonora</option>
          <option >Tabasco</option>
          <option >Tamaulipas</option>
          <option >Tlaxcala</option>
          <option >Veracruz de Ignacio de la Llave</option>
          <option >Yucatán</option>
        </select>
      </div>
     
    </div>
    
      <div class="row justify-content"> 
          <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-center">
    <button type="submit" class="btn" value="Add a Post" (click)="addPost()"  >Enviar</button>
   
  </div>
  </div>
  </form>
  
  

    <table class="table table-hover table-dark bg-secondary mt-4" >
        <thead>
          <tr>
            
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col">Dirección</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts | async">
           
            <td> <strong>{{ post.nombre}}</strong></td>
            <td> <strong>{{ post.telefono}}</strong></td>
            <td> <strong>{{ post.email}}</strong></td>
            <td> <strong>{{ post.direccion}}</strong></td>
            <td> <strong>{{ post.ciudad}}</strong></td>
            <td> <strong>{{ post.estado}}</strong></td>
          </tr>
       
        </tbody>
      </table>

</div>