
<footer class="fondo ">

  <div class="container fondo">

  
    <div class="row text-center d-flex justify-content-center fondo">

 
      <div class="col-md-2">
        <h6 class="">
          <a  routerLink="caratula">Sobre nosotros</a>
        </h6>
      </div>
   
      <div class="col-md-2 ">
        <h6 class="">
          <a href="#!">Quien nos apoya</a>
        </h6>
      </div>
    

      <div class="col-md-2 ">
        <h6>
          <a href="#!">Beneficiarios</a>
        </h6>
      </div>
     
      <div class="col-md-2 ">
        <h6 >
          <a href="#!">Ayuda</a>
        </h6>
      </div>
     
      <div class="col-md-2 mb-3">
        <h6 >
          <a href="#!">Ubicacion</a>
        </h6>
      </div>
     

    </div>
    
    

   
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <div class="col-md-8 col-12 mt-3">
        <p >Gracias por tu apoyo.</p>
      </div>
     

    </div>
   


  
    <div class="row ">

    
      <div class="col-md-12">

        <div class=" d-flex justify-content-center">

     
          <a class=" d-flex justify-content-center">
            <i > <img src="../../assets/imagenes/facebook.png"> </i>
          </a>
       
          <a class=" d-flex justify-content-center">
            <i > <img src="../../assets/imagenes/gorjeo.png"> </i>
          </a>
       
      
      
          <a class=" d-flex justify-content-center">
            <i > <img src="../../assets/imagenes/instagram1.png"> </i>
          </a>
       

        </div>

      </div>
    

    </div>
   

  </div>

  <div class=" fondobajo justify-content-center">
    <div class="d-flex justify-content-center">© 2018 Copyright:</div>
    <a class="estiloTextoLetraEnlace d-flex justify-content-center" href=""> Donaton.com </a>
  </div>
 

</footer>
