
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.fondo{
    background-color: rgb(199, 247, 232);
}
.fondobajo{

    background-color: rgb(70, 182, 247)
}
.estiloTextoLetraEnlace{
    color:blue;
    font-weight:inherit;
    font-family: 'Playfair Display', serif;
}