<!--The content below is only a placeholder and can be replaced.-->

  



<div class="container-fluid fondoPrinBaner">
<div class="row justify-content-center">

    <div class="col-12 col-md-3"> <a routerLink=""><img class="pequenaLogo" src="../../assets/imagenes/Logo_Donaton1.jpg"></a>  </div>
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="row justify-content-center align-items-center">
    <div class="col-md-3 izquierda color1 borde d-flex justify-content-center d-flex align-items-center pad " routerLink="Admin">Panel</div>
  
  <div class="col-md-3 izquierda color1 borde d-flex justify-content-center d-flex align-items-center pad " routerLink="caratula">Sobre Nosotros</div>
    <div class="col-md-3 izquierda color1 borde d-flex justify-content-center d-flex align-items-center pad" routerLink="about/48">Contacto</div>
   <div class="col-md-3 izquierda color1 borde d-flex justify-content-center d-flex align-items-center pad" routerLink="liz">Dona ahora ;)</div>

  
  
  </div>
  </div>
</div>
</div>





<router-outlet></router-outlet>




<app-footer-donaton></app-footer-donaton>































