@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.fondo{
    margin: 0rem;
    padding: 0rem;
    
 }
.ImgPrincipal{
    width: 100%;
}
.bienv{
position: absolute;
top:25rem;
font-size: 5rem;
font-family: 'Playfair Display', serif;
color: rgb(255, 255, 255);  
opacity: 1rem;
left: 9rem;;
}
.bienv2{
    position: absolute;
    top:32rem;
    left:9rem;
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);  
    opacity: 1rem;
    
    }


.pequenaLogo{
    max-width: 16rem;
    display: inline;

  
}
.fijo{
    position: fixed;
  
}
.padin{
    padding-right: 0rem; 
    padding-left: 0rem; 
}
.estilosMedio{
    font-weight: bold;
    color: #499982;
font-size: 1.8rem;
font-family: 'Passion One', cursive;
background-color:rgb(199, 247, 232); 
}



.estiloRegistro{
    padding: 0rem 0rem;
    background-color:rgb(199, 247, 232); 
    border-radius: 2rem;
    padding-right: 0rem; 
    padding-left: 0rem;
    display: inline;
}
.margenBaner{
    padding: 1.1rem 1rem 1rem 0rem;
    height: 6rem;    
}

.estiloSalir:hover{
    padding: 0rem 0rem;
    background-color:rgb(212, 231, 233); 
    border-radius: 2rem;
    padding-right: 0rem; 
 padding-left: 0rem;
 display: inline;
}

@media (min-width : 480px) and (max-width : 800px) {
    .chicasLetras {
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        color: white;
    }
  }
  @media (min-width : 480px) and (max-width : 800px) {
    .chicasLetras1 {
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        color: white;
    }
}
    @media (max-width: 479px)
    {
        .chicas {
            font-size: 1rem;
            font-family: 'Playfair Display', serif;
            color: white;
        }

    }
    @media (max-width: 479px)
    {
        .chicasLetras1d {
            font-size: 1rem;
            font-family: 'Playfair Display', serif;
            color: white;
        }

    }
  @media(min-width : 901px) and (max-width : 1300px) {
    .tituloPchic9 {
        position: absolute;
        top:17rem;
        left:5rem;
        font-size: 3rem;
        font-family: 'Playfair Display', serif;
        color:rgb(255, 255, 255);  
        opacity: 1rem;
    }
}
@media(min-width : 901px) and (max-width : 1300px) {
    .tituloPchic91 {
        position: absolute;
        top:20rem;
        left:5rem;
        font-size: 3rem;
        font-family: 'Playfair Display', serif;
        color:rgb(255, 255, 255);  
        opacity: 1rem;
    }
}
    

@media (min-width : 701px) and (max-width : 1000px) {
    .tituloPchicoPrinM {
        position: absolute;
        top:13rem;
        left:5rem;
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        color:rgb(255, 255, 255);  
        opacity: 1rem;
    }

}
@media (min-width : 701px) and (max-width : 1000px) {
    .tituloPchicoPrinMe {
        position: absolute;
        top:17rem;
        left:5rem;
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        color: rgb(255, 255, 255);  
        opacity: 1rem;
    }

}
@media (min-width : 480px) and (max-width : 700px) {
    .tituloPchicoPrin {
        position: absolute;
        top:6.8rem;
        font-size: 1.3rem;
        font-family: 'Playfair Display', serif;
        color: rgb(255, 255, 255);  
        opacity: 1rem;
        left: 1.4rem;;
    }
}


@media (min-width : 480px) and (max-width : 700px) {
    .tituloPchicoPrin1 {
        position: absolute;
        top:9rem;
        left:2.5rem;
        font-size: 1.3rem;
        font-family: 'Playfair Display', serif;
        color:rgb(255, 255, 255);  
        opacity: 1rem;
    }

}


@media (max-width: 479px) {
    .tituloPchicoPrin2 {
        position: absolute;
        top:6rem;
        font-size: 1rem;
        font-family: 'Playfair Display', serif;
        color: rgb(252, 252, 252);  
        opacity: 1rem;
        left: 1rem;;
    }
}
@media (max-width: 479px) {
.tituloPchicoPrin3 {
    position: absolute;
    top:8rem;
    left:1rem;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    color: rgb(252, 252, 252);  
    opacity: 1rem;
}
}
@import url('https://fonts.googleapis.com/css?family=Passion+One');


.fondoPrinBaner{
background-color: #55E6F7;
opacity: 0.7;
filter:  alpha(opacity=50);
}
.pequeLogo{
width: 19rem;
}
.margenson{
    margin: 6rem 0rem 6rem 0rem;
    }
.color1{
    color: snow;
    text-decoration: none;
}
.a:link{
    text-decoration: none;
}
.estiloS2{
  
font-size: 1.1rem;
font-family: 'Playfair Display', serif;
color: rgb(9, 25, 247);

}
.sec3{
    width: 100%;
    height: 50rem;
} 
.sec3p{
    width: 40rem;
    height: 25rem;
} 
li{
    font-weight:inherit;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    color: rgba(239, 239, 245, 0.795);  
}
.ImagenDentro{
    position: absolute;
    top:10rem;
    right: 3rem;
    font-size: 4rem;
    color: white;
    font-family: 'Playfair Display', serif;
    opacity: 1rem;
    
    }
    .TextoDentro{
        position: absolute;
        top:10rem;
        left: 3rem;
    }
    .estiloli{
        
        font-size: 4rem;
        font-family: 'Playfair Display', serif;
        color: white;
    }
.sec{
    width: 21rem;
    height: 15rem;

}

.borde{

    border: none;
}
.izquierda{
    font-weight:inherit;
font-size: 2.1rem;
font-family: 'Passion One', cursive;
}

.estiloNavMedio{
    font-weight: bold;
    color: #499982;
font-size: 1.5rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color:rgb(199, 247, 232); 
text-align: center;
}

.pad{
padding-left: 0rem;
padding-right: 0rem;

}
.accion:active{
    background-color:rgb(85, 230, 247);
}


@media (max-width: 710px) {
    .imagenDentroDesaparece {
        display: none;
    }
}
  