@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.hig{

    height: 40rem;

}
.fondo{
    margin: 0rem;
    padding: 0rem;
    
 }
.ImgPrincipal{
    width: 100%;
    margin: 0rem;
    padding: 0rem;
}
.bienv{
position: absolute;
top:25rem;
font-size: 5rem;
font-family: 'Playfair Display', serif;
color: rgb(255, 255, 255);  
opacity: 1rem;
left: 9rem;;
}
.bienv2{
    position: absolute;
    top:32rem;
    left:9rem;
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);  
    opacity: 1rem;
    
    }


.pequenaLogo{
    max-width: 16rem;
    display: inline;

  
}
.fijo{
    position: fixed;
  
}
.padin{
    padding-right: 0rem; 
    padding-left: 0rem; 
}
.estilosMedio{
    font-weight: bold;
    color: #499982;
font-size: 1.8rem;
font-family: 'Playfair Display', serif;
background-color:rgb(199, 247, 232); 
}



.estiloRegistro{
    padding: 0rem 0rem;
    background-color:rgb(199, 247, 232); 
    border-radius: 2rem;
    padding-right: 0rem; 
    padding-left: 0rem;
    display: inline;
}
.margenBaner{
    padding: 1.1rem 1rem 1rem 0rem;
    height: 6rem;    
}

.estiloSalir:hover{
    padding: 0rem 0rem;
    background-color:rgb(212, 231, 233); 
    border-radius: 2rem;
    padding-right: 0rem; 
 padding-left: 0rem;
 display: inline;
}

@media (min-width : 480px) and (max-width : 800px) {
    .chicasLetras {
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        color: white;
    }
  }
  @media (min-width : 480px) and (max-width : 800px) {
    .chicasLetras1 {
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        color: white;
    }
}
    @media (max-width: 479px)
    {
        .chicas {
            font-size: 1rem;
            font-family: 'Playfair Display', serif;
            color: white;
        }

    }
    @media (max-width: 479px)
    {
        .chicasLetras1d {
            font-size: 1rem;
            font-family: 'Playfair Display', serif;
            color: white;
        }

    }
  @media(min-width : 901px) and (max-width : 1300px) {
    .tituloPchic9 {
        position: absolute;
        top:17rem;
        left:5rem;
        font-size: 3rem;
        font-family: 'Playfair Display', serif;
        color:rgb(255, 255, 255);  
        opacity: 1rem;
    }
}
@media(min-width : 901px) and (max-width : 1300px) {
    .tituloPchic91 {
        position: absolute;
        top:20rem;
        left:5rem;
        font-size: 3rem;
        font-family: 'Playfair Display', serif;
        color:rgb(255, 255, 255);  
        opacity: 1rem;
    }
}
    

@media (min-width : 701px) and (max-width : 1000px) {
    .tituloPchicoPrinM {
        position: absolute;
        top:13rem;
        left:5rem;
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        color:rgb(255, 255, 255);  
        opacity: 1rem;
    }

}
@media (min-width : 701px) and (max-width : 1000px) {
    .tituloPchicoPrinMe {
        position: absolute;
        top:17rem;
        left:5rem;
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        color: rgb(255, 255, 255);  
        opacity: 1rem;
    }

}
@media (min-width : 480px) and (max-width : 700px) {
    .tituloPchicoPrin {
        position: absolute;
        top:6.8rem;
        font-size: 1.3rem;
        font-family: 'Playfair Display', serif;
        color: rgb(255, 255, 255);  
        opacity: 1rem;
        left: 1.4rem;;
    }
}


@media (min-width : 480px) and (max-width : 700px) {
    .tituloPchicoPrin1 {
        position: absolute;
        top:9rem;
        left:2.5rem;
        font-size: 1.3rem;
        font-family: 'Playfair Display', serif;
        color:rgb(255, 255, 255);  
        opacity: 1rem;
    }

}


@media (max-width: 479px) {
    .tituloPchicoPrin2 {
        position: absolute;
        top:6rem;
        font-size: 1rem;
        font-family: 'Playfair Display', serif;
        color: rgb(252, 252, 252);  
        opacity: 1rem;
        left: 1rem;;
    }
}
@media (max-width: 479px) {
.tituloPchicoPrin3 {
    position: absolute;
    top:8rem;
    left:1rem;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    color: rgb(252, 252, 252);  
    opacity: 1rem;
}
}
@import url('https://fonts.googleapis.com/css?family=Passion+One');


.fondoPrinBaner{
background-color: #55E6F7;
opacity: 0.7;
filter:  alpha(opacity=50);
}
.pequeLogo{
width: 19rem;
}
.margenson{
    margin: 1rem 0rem 1rem 0rem;
    }
.color1{
    color: snow;
    text-decoration: none;
}
.a:link{
    text-decoration: none;
}
.estiloS2{
  
font-size: 1.1rem;
font-family: 'Playfair Display', serif;
color: rgb(9, 25, 247);

}
.sec3{
    width: 100%;;
    height: 25rem;
} 
.sec3p{
    width: 40rem;
    height: 25rem;
} 
li{
    font-weight:inherit;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    color: rgb(9, 25, 247);  
}
.ImagenDentro{
    position: absolute;
    top:10rem;
    right: 3rem;
    font-size: 4rem;
    color: white;
    font-family: 'Playfair Display', serif;
    opacity: 1rem;
    
    }
  
    .estiloli{
        
        font-size: 3rem;
        font-family: 'Playfair Display', serif;
        color: rgb(9, 25, 247);
    }
.sec{
    width: 100%;
    height: 15rem;

}

.borde{

    border: none;
}
.izquierda{
    font-weight:inherit;
font-size: 2.1rem;
font-family: 'Playfair Display', serif;
}

.estiloNavMedio{
    font-weight: bold;
    color: #499982;
font-size: 1.5rem;
font-family: 'Playfair Display', serif;
background-color:rgb(199, 247, 232); 
text-align: center;
}


.accion:active{
    background-color:rgb(85, 230, 247);
}


@media (max-width: 710px) {
    .imagenDentroDesaparece {
        display: none;
    }
}
  /*estilos de la seccion post*/
  .invisible{
    display: none;
}
.izquierda{
    padding: 1rem 0rem 0rem 0rem; 

font-size: 1rem;
}

.margenderecha{
margin: 1.3rem;
}
.margenEspecial{
    margin: .2rem 1.3rem .2rem 1.3rem; 
}
.letrasPequeñas{

font-size: .9rem;

}
.cuadro{
 width: 4.5rem;
 height: 4.5rem;
}



.padIconos{
    padding-left: 1.3rem;
}
.estiloMay{
    font-weight: bold;
    vertical-align:top;
top:-5px;
       text-align: left;
       font-style: unset;
font-size: 15px;
display: inline-flex;
color:black;
position: relative;
}
.iconos{
    width: 1.4rem;
    padding: .7rem;
    margin: 0rem .5rem 0rem .5rem;
    cursor: pointer;

}
.estiloMay:hover{
color:rgb(79, 185, 235);

}
a:link{
    text-decoration:none;

}
.iconotwit{
    background-image: url("../../assets/imagenes/logo-de-twiter.png");
}

.iconofece{
    background-image: url("../../assets/imagenes/logo-pequeno-de-facebook1.png");
}
.iconotwit:hover{
    background-image: url("../../assets/imagenes/logo-de-twiter1.png");
}
.iconoinstagram{
    background-image: url("../../assets/imagenes/instagram.png");
}
.iconopinter{
    width: 1.5rem;
    padding: .7rem;
    margin: 0rem .5rem 0rem .5rem;
    background-image: url("../../assets/imagenes/pinterest-circulo-del-logotipo.png");
}
.iconopinter:hover{
    background-image: url("../../assets/imagenes/pinterest-circulo-del-logotipo1.png");
}
.iconoinstagram:hover{
    background-image: url("../../assets/imagenes/instagram2.png");
}
.iconofece:hover{
    
background-image: url("../../assets/imagenes/logo-pequeno-de-facebook.png");
}

.margen{
    margin: 0em;
    padding: 0em;
    border: 0em;
}
.titulos{
font-family: "metropolis-regular",sans-serif;
font-size: 1.5rem;
line-height: 1.8;
padding-left: 2.2rem;
-webkit-font-smoothing: antialiased;

}
  /*estilos de la seccion post*/